.footer{
    position: absolute;
    bottom: 0;
    width: 99%;
    white-space: nowrap;
    background: whitesmoke;
    color: rgba(0, 0, 0, 0.87);
    font: 500 18px / 18px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}